<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ url_for ('static', filename='/css/bootstrap.min.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'includes/header.html' %}
<main>
  <div class="container-fluid px-2 my-2 py-2" style="min-height: 1000px">
  {% block content %}
  {% endblock %}
    </div>
</main>

</body>