{% extends 'base.html' %}
{% block title %}Список сетевых интерфейсов{% endblock %}
{% block content %}

<h2 class="mb-4 pb-3">Сетевой интерфейс {{ interface.name }}</h2>
<div class="card me-3 mb-3">
  <div class="card-body">

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Параметр</th>
          <th scope="col">Значение</th>
          <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Ip адрес</th>
          <td>{{ interface.ip_address }}</td>
          <td><a href="{{ url_for ('network_interface.change_ip_address', interface_name=interface.name) }}" class="btn btn-dark text-truncate">Изменить</a></td>
        </tr>
        <tr>
          <th scope="row">Префикс</th>
          <td>{{ interface.prefix }}</td>
          <td><a href="{{ url_for ('network_interface.change_prefix', interface_name=interface.name) }}" class="btn btn-dark text-truncate">Изменить</a></td>
        </tr>
        {% if interface.is_enable %}
        <tr>
          <th scope="row">Состояние</th>
          <th scope="row">Включен</th>
          <td><a href="{{ url_for ('network_interface.disable_network_interface', interface_name=interface.name) }}" class="btn btn-dark text-truncate">Выключить</a></td>
        </tr>
        {% else %}
        <tr>
          <th scope="row">Состояние</th>
          <th scope="row">Выключен</th>
          <td><a href="{{ url_for ('network_interface.enable_network_interface', interface_name=interface.name) }}" class="btn btn-dark text-truncate">Включить</a></td>
        </tr>
        {% endif %}
        </tbody>
      </table>
    </div>

  </div>
</div>
{% endblock %}