{% extends 'base.html' %}
{% block title %}Список сетевых интерфейсов{% endblock %}
{% block content %}
<div class="col-4 mb-lg-5"><h2 class="">Список сетевых интерфейсов</h2>
</div>

  <div class="row align-items-center justify-content-center">
    <div class="col-sm-8 ">
      <div class="container ">
        {% if not data%}
        <div class="card  my-lg-4">
            <div class="card-header justify-content-center">
              Создать базовые интерефесы
             <a href="{{ url_for ('network_interface.create_network_interfaces') }}" class="button btn btn-dark float-end">Создать</a>
            </div>
        {% else %}
        {% for portion in data %}
          <div class="card">
            <div class="card-header">
              {{ portion.name }}
            </div>
            <div class="card-body">
              <p class="card-text">Ip адрес - {{ portion.ip_address }}</p>
              <p class="card-text">Маска сети - {{ portion.prefix }}</p>
              <p class="card-text">Активен - {{ portion.is_enable }}</p>

              <a href="{{ url_for ('network_interface.get_network_interface', interface_name=portion.name) }}" class="btn btn-dark">Редактировать</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  </div>
{% endblock %}